.riot-player .nav-side ul {
    width: 300px;
    overflow-y: hidden;
    height: 100%;
    position: fixed;
    padding-top: 100px;
    padding-left: 20px;
}

.riot-player .nav-side ul li {
    margin: 0px;
    padding: 0px;
}

.riot-player .list-group-messages {
    margin-left: -30px !important;
    padding-left: 10px !important;
    padding-right: 10px;
    border-radius: 0;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    z-index: 2;
    color: #62a8ea;
    background-color: transparent;
    border-color: transparent;
}

.list-group-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.list-group-item {
    background: transparent;
}

.list-group-item {
    background: transparent;
}

.list-group-item-api {
    margin: 0px;
    padding: 0px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid transparent;
}

.riot-player .nav-side ul li {
    margin: 0px;
    padding: 0px;
}

.riot-player .list-group-messages {
    margin-left: -30px !important;
    padding-left: 10px !important;
    padding-right: 10px;
    border-radius: 0;
}

.list-group-item {
    background: transparent;
}

.list-group-item {
    background: transparent;
}

.list-group-item-api {
    margin: 0px;
    padding: 0px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid transparent;
}

.riot-player .nav-side ul a.api_option {
    display: block;
    padding: 8px;
    padding-left: 35px;
}

.riot-player .nav-side ul a.api_option {
    display: block;
    padding: 8px;
    padding-left: 35px;
}

.riot-player .nav-side ul li a {
    display: block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 40px;
}

a {
    color: #dc291e;
}

a {
    color: #62a8ea;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.riot-player .main-view {
    margin-left: auto;
    margin-right: auto;
    display: none;
    max-width: 1100px;
}

.padding-left-300 {
    padding-left: 300px;
}

.api-ref-mainview .inner_content {
    min-height: 150px;
}

.avatar {
    display: inline-block;
    width: 40px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
}

.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
    border-radius: 1000px;
}

.site-navbar .navbar-header {
    width: 260px;
}

.riot-player .navbar-mega .container-fluid {
    position: relative;
}

.site-navbar .navbar-container {
    background: transparent;
}

.site-navbar .navbar-container {
    margin-left: 260px;
}

.riot-player .list-group-messages {
    color: white;
    background: #141414;
}

.riot-player .list-group-messages:hover {
    color: white;
    background: #dc291e;
}